@import url("/cgi-bin/scada-style.cgi");
#iviframe {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0px;
	left: 0px;
	background: gray;
}
#ivi {
	display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
#ivi div.item,
#ivi div.block {
	min-height: 48px;
	min-width: 48px;
}

#btnsaveconfig{
	float: right;
}
div.panel>input {
	width: 25px;
	min-width: 20px;
}